<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
</head>
<body>
<h1>Available Courses</h1>

<ul>
    <li th:each="c : ${courses}">
        <span th:text="${c.title}">Course Title</span>

        <!-- Enrolled badge or details link… -->
        <span th:if="${enrolledIds.contains(c.courseId)}">(Enrolled)</span>
        <span th:if="${!enrolledIds.contains(c.courseId)}">
        <a th:href="@{/courses/{id}(id=${c.courseId})}">Details &amp; Enroll</a>
      </span>

        <!-- ✎ Edit link, only for teachers -->
        <span sec:authorize="hasRole('TEACHER')">
        &nbsp;
        <a th:href="@{/courses/{id}/edit(id=${c.courseId})}">
          ✎ Edit
        </a>
      </span>
    </li>
</ul>

<div sec:authorize="hasRole('TEACHER')"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="btn btn-primary" th:href="@{/courses/add}">+ Add Course</a>
</div>

<p>
    <a th:href="@{/home}">Home</a> |
    <a th:href="@{/courses/my-courses}">My Courses</a>
</p>
</body>
</html>
